In [1]:
a = 5
type(a)
a

5

In [2]:
x = 5-2j
print(x)

(5-2j)

In [3]:
print(x.real, x.imag)

5.0 -2.0

In [4]:
m = 'sairaghavendra'
y = m.capitalize()
print(y)

Sairaghavendra

In [5]:
l = [1,2,3,4,5,6]
l[0:5:2]

[1, 3, 5]

In [6]:
m = [1,2,3,4,5,6]

for s in m:
    print(s)

1
2
3
4
5
6

In [7]:
numbers  = [0,1,2,3,4,5,6,7,8,9]

summation = 20

for x in numbers:
    summation = summation+x
    

print(summation)

65

In [8]:
k =[]

In [9]:
num = [6,5,3,8,4,2,5,4,9,56,51,5,4,3,21]

for m in range(len(num),0,-1):
    k.append(m)

In [10]:
k

[15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [11]:
'Day ' + str(1)

'Day 1'

In [12]:
rex = [2,3,4,5,6,7,8,9,0]

for x in rex:
    if x <4:
        print(x)

2
3
0

In [13]:
fox = [23,32,45]

for x in fox:
    print(x)
else:
    print("The list is done!")

23
32
45
The list is done!

In [14]:
rox = [23,32,45]

for x in rox:
    pass
else:
    print("The list is done!")

The list is done!

In [15]:
n = 20

sum = 0
i = 1

while i <=20:
    sum = sum + i
    i = i+1
    
print(sum)

210

In [16]:
print(range(10))

range(0, 10)

In [17]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
print(list(range(2,10)))

[2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
names = ['jerry','jessie','jonathan','jonas','jack','jim']

for i in range(1,len(names),2):
    print ("My name is ", names[i])

My name is  jessie
My name is  jonas
My name is  jim

In [20]:
for val in "Indian":
    if val == "a":
        break
    print(val)
        
print("This is break!")

I
n
d
i
This is break!

In [21]:
for val in "Indian":
    if val =="a":
        continue
    print(val)
    
print("This is continue!")

I
n
d
i
n
This is continue!

In [22]:
name = input('What is your name? ')
type(name)

What is your name? Raghav

str

In [23]:
m = [1,2,3,'raghav','UT Dallas']
type(m)

list

In [25]:
x = list['raghav','sai']
x

TypeError: 'type' object is not subscriptable

In [26]:
x = list(['raghav','sai'])
x

['raghav', 'sai']

In [27]:
l = [1,2,3,4,5,6,7]
l[::-1]

[7, 6, 5, 4, 3, 2, 1]

In [28]:
len(l)

7

In [29]:
l = []

l.append('sai')
l.append('raghav')
l.append('sridhar')

l.insert(1,['311513105037','sridhar'])

l

['sai', ['311513105037', 'sridhar'], 'raghav', 'sridhar']

In [30]:
l[1][1][6::-1]

'rahdirs'

In [31]:
l[1][1]

'sridhar'

In [32]:
list(l[1][1])

['s', 'r', 'i', 'd', 'h', 'a', 'r']

In [33]:
m = []

m.append('sai')
m.append('raghav')
m.append('sridhar')

m.extend(['311513105037','sridhar'])

m

['sai', 'raghav', 'sridhar', '311513105037', 'sridhar']

In [34]:
m = ['sai',1,'raghav','sridhar',2,3,'raghavendra']

for i in m:
    if type(i) == int:
        print(i)

1
2
3

In [35]:
m = ['sai',1,'raghav','sridhar',2,3,'raghavendra']

for i in m:
    if type(i) == str:
        print(i[::-1])

ias
vahgar
rahdirs
ardnevahgar

In [36]:
m = [20,30,35,45,55]

for i in m:
    if i % 10 == 0:
        print(i)

20
30

In [37]:
l = [10,20,30,"ram","sam",['sai','kj','ara','muk','tep']]
m = []

for i in l:
    if type(i) == list:
        for j in i[::-1]:
            m.append(j[::-1])
            
m

['pet', 'kum', 'ara', 'jk', 'ias']

In [38]:
l = [10,20,30,"ram","sam",['sai','kj','ara','muk','tep']]
m = []

for i in l:
    if type(i) == list:
        for j in i[::-1]:
            l.append(j[::-1])
            
l

[10,
 20,
 30,
 'ram',
 'sam',
 ['sai', 'kj', 'ara', 'muk', 'tep'],
 'pet',
 'kum',
 'ara',
 'jk',
 'ias']

In [39]:
print(list(range(0,10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [40]:
print(list(range(10,0,-1)))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [41]:
l = [1,2,3,4,5,6,7,8,9,"sai"]
m=[]

for i in range(len(l)-1,-1,-1):
    m.append(l[i])

print(m)

['sai', 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [42]:
for val in "University of Texas at Dallas":
    if val == "o":
        break
    print (val)
else:
    print ("This loop is done!")

U
n
i
v
e
r
s
i
t
y

In [43]:
for val in "University of Texas at Dallas":
    if val == "o":
        continue
    print (val)
else:
    print ("This loop is done!")

U
n
i
v
e
r
s
i
t
y

f

T
e
x
a
s

a
t

D
a
l
l
a
s
This loop is done!

In [44]:
print = input ("The number is ")

int(print) +1

The number is 25

26

In [45]:
type((input()))

2

str

In [46]:
#multiline comment
"""""my 
name 
is
Sai
Raghavendra
Sridhar"""

'""my \nname \nis\nSai\nRaghavendra\nSridhar'

In [87]:
#print statement works only using paranthesis in Python 3.x
print 'TheUTD'

SyntaxError: Missing parentheses in call to 'print'. Did you mean print('TheUTD')? (<ipython-input-87-71876d3f30f8>, line 2)

In [ ]:
#string is reassignment of item
rex = 'raghavendra'
rex[0] = 's'

In [ ]:
'sai'+'raghavendra'

In [ ]:
'sai'+3 #does not happen

In [ ]:
'sai' + str(3) #type casting

In [49]:
s = 'the university of texas at dallas'

In [50]:
s.upper()

'THE UNIVERSITY OF TEXAS AT DALLAS'

In [51]:
s.lower()

'the university of texas at dallas'

In [52]:
s.split()

['the', 'university', 'of', 'texas', 'at', 'dallas']

In [53]:
s.split("u")

['the ', 'niversity of texas at dallas']

In [54]:
a= " The University of Texas at Dallas"

'The college that I am studying is:{}'.format(a)

'The college that I am studying is: The University of Texas at Dallas'

In [55]:
x = 'Sai Raghavendra'
y = 'Sridhar'

'My first name is {}, My last name is {}'.format(x,y,"UTD",x)

'My first name is Sai Raghavendra, My last name is Sridhar'

In [56]:
m = 'sairaghavendrasridhar'

m.count('a')

5

In [57]:
m.find('a')

1

In [58]:
#it works with one character and not more than that
x.center(50,'#')

'#################Sai Raghavendra##################'

In [59]:
'sai\tsridhar\traghavendra'.expandtabs()

'sai     sridhar raghavendra'

In [60]:
m.isalnum()

True

In [61]:
#islower(),isalpha(),isalnum(),(isspace()-returns true if all are whitespace),endswith(), there are many functions like that
j = '12345'
j.isalpha()

False

In [62]:
#returns true if there is uppercase in first one, returns true if there is uppercase somewhere
l ="Sairagh"
l.istitle()

True

In [63]:
m.partition('a') #difference between split and partition function

('s', 'a', 'iraghavendrasridhar')

In [64]:
m.split('a')

['s', 'ir', 'gh', 'vendr', 'sridh', 'r']

In [65]:
my_list= ['jcb']
my_list+['a','c','b']

['jcb', 'a', 'c', 'b']

In [66]:
my_list*2

['jcb', 'jcb']

In [67]:
my_list.append('2')
my_list

['jcb', '2']

In [68]:
my_list.pop(0)

'jcb'

In [69]:
#reversal
new_l = [1,2,3,4,5]
new_l.reverse()

In [70]:
new_l

[5, 4, 3, 2, 1]

In [71]:
name = ["sai","raghavendra"]
name.sort()

In [72]:
name

['raghavendra', 'sai']

In [73]:
#nested lists
list1 = [1,2,3]
list2 =[4,5,6]
list3 = [7,8,9]

m =[list1,list2,list3]
m

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [74]:
m[2][1]

8

In [75]:
l =[]

for i in m:
    l.append(i[1])
    
l

[2, 5, 8]

In [76]:
first_row = [row[1] for row in m]

first_row

[2, 5, 8]

In [77]:
m

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [78]:
[(i[0],i[1]) for i in m]

[(1, 2), (4, 5), (7, 8)]

In [88]:
[(i[1],i[2]) for i in m]

[(2, 3), (5, 6), (8, 9)]