In [1]:
#Python 3.x works with paranthesis only
print('Hello World')

Hello World

In [2]:
j = [1,2,3,4,5]
j.append('dhoom')
print(j)

[1, 2, 3, 4, 5, 'dhoom']

In [3]:
#extend operation
j = [1,2,3,4,5]

j.extend('ty')

print(j)

[1, 2, 3, 4, 5, 't', 'y']

In [4]:
l = ['sai','raghavendra','sridhar','1','2','34','5']
m=[]
n=[]

for i in l:
    if i.isalpha() == True:
        m.append(i)
        
    if i.isdecimal() == True:
        n.append(i)
        
print(m,n)

['sai', 'raghavendra', 'sridhar'] ['1', '2', '34', '5']

In [5]:
t = (1,2,34,5)
print(type(t))

t[0] = 4

<class 'tuple'>

TypeError: 'tuple' object does not support item assignment

In [6]:
t[0:3]

(1, 2, 34)

In [7]:
#supports item assignment

m =list(t)

m[0]=4
m

[4, 2, 34, 5]

In [8]:
#set holds unique assignment in ordered fashion
set([1,2,3,4,4,4,5,5,5,6,7,8,9,9,9])

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [9]:
#dictionary - insert element inside it, it becomes a set- key and value pair saves data
d = {}
type(d)

dict

In [10]:
d={6}
type(d)

set

In [11]:
d= {'k': 1995,'m':1996,'n':1997}
d['n']

1997

In [12]:
k = {'d':{1,2,2,3,3,4,4,5,6}, 'n':("raghav","sridhar")}
k

{'d': {1, 2, 3, 4, 5, 6}, 'n': ('raghav', 'sridhar')}

In [13]:
k.values()

dict_values([{1, 2, 3, 4, 5, 6}, ('raghav', 'sridhar')])

In [14]:
#takes the latest assigned value when its duplicate
d= {'k': 1995,'m':1996,'n':1997,'n':1998}
d['n']

1998

In [15]:
for i  in k.values():
    print(i)

{1, 2, 3, 4, 5, 6}
('raghav', 'sridhar')

In [16]:
{i:i**3 for i in range(10)}

{0: 0, 1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729}

In [17]:
m = [1,23,4,5,5,6,7]
m.append(6)
m

[1, 23, 4, 5, 5, 6, 7, 6]

In [18]:
set(m)

{1, 4, 5, 6, 7, 23}

In [19]:
temp =[10,20,30,100]

def farhenheit(T):
    return (float(9/5)*T + 32)

def celsius(T):
    return (float(5/9)*T - 32)

l =[]
m =[]

for i in temp:
    l.append(farhenheit(i))
    
for i in temp:
    m.append(celsius(i))
    
print(l)
print(m)

[50.0, 68.0, 86.0, 212.0]
[-26.444444444444443, -20.88888888888889, -15.333333333333332, 23.555555555555557]

In [20]:
# map function

F_temp = list(map(farhenheit,temp))
F_temp

[50.0, 68.0, 86.0, 212.0]

In [21]:
C = list(map(celsius,temp))
C

[-26.444444444444443,
 -20.88888888888889,
 -15.333333333333332,
 23.555555555555557]

In [22]:
list(map(lambda x: (9/5)*x + 32, temp))

[50.0, 68.0, 86.0, 212.0]

In [23]:
a = [10,20,30,40,50]
b = [50,40,30,20,10]
c = [100,200,300,400,500]

list(map(lambda x,y,z: x*y*z,a,b,c))

[50000, 160000, 270000, 320000, 250000]

In [24]:
#map is a row wise operation

day1 = [5,9,8,7,6,5,4]
day2 = [10,9,8,7,6,5,4]
day3 = [11,12,13,14,15,16,17]

list(map(lambda x,y,z: ((x+y)*z),day1,day2,day3))

[165, 216, 208, 196, 180, 160, 136]

In [25]:
l = input("The name is ")

The name is sai

In [26]:
m =5

for i in range(m):
    for j in range(i):
        print("* ", end ="")
    print("")
    
for i in range(m,0,-1):
    for j in range(i):
        print("* ", end ="")
    print("")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [29]:
m = input("The name is: ")

for i in range(len(m)-1,-1,-1):
    print(m[i], end = "")

The name is: sai
ias

In [34]:
#reduce can take two arguments
from functools import reduce

l = [1,23,4,25]

reduce(lambda x,y : x*y,l)

2300

In [39]:
l = [10,20,30,40,5]

max_find  = lambda a,b: a if (a>b) else b

reduce(max_find,l)

40

In [49]:
def even_check(num):
    if num%2==0:
        return True
    
l = [20,30,35,45,55]

(list(filter(even_check,l)))

[20, 30]

In [47]:
#True - returns output and False does not
def even_check(num):
    if num%2 !=0:
        return True
    
l = range(20)

(list(filter(even_check,l)))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [48]:
list(filter(lambda x: x%2==0,l))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]